body {
    font-family: 'Aldrich';
    margin: auto;
    width: 60%;
    border: 5px solid white;
    padding: 10px;
    background-color:#333;
    color: white;
    
}
.Title {
    font-family: 'Aldrich';font-size: 35px;
}
.Under {
    font-family: 'Aldrich';font-size: 20px;
}
input {
    margin: 10px 10px;
    background-color: rgb(156, 250, 164);
    border: 1px solid black;
    cursor: pointer;    
}

.one {
    color: blue;
}

#error{
    color: red;
}